@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625132339673') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-cart:before {
  content: "\e742";
}

.icon-searchcart:before {
  content: "\e763";
}

.icon-usercenter:before {
  content: "\e773";
}

.icon-home:before {
  content: "\e7a7";
}

.icon-order:before {
  content: "\e7b3";
}

